<div class="" >

  <form  ng-controller="addQuizCtrl">
    <div data-ng-cloak >
      <input type="text" placeholder="Enter new Question Header" ng-model="name" class="form-control" name="header" />
      <input type="text" placeholder="Enter new Question" ng-model="text"  class="form-control" name="text" />
      <input type="text" placeholder="Enter bgcolor"  class="form-control" ng-model="bgcolor"/>
      <input type="text" placeholder="Enter image file name" ng-model="img" class="form-control" name="text" />
      <input type="number" ng-model="minanswers" placeholder="Enter № of min allowed answers"  class="form-control"/>
      <input type="text" ng-model="answer1" placeholder="Enter Answer 1" class="form-control" />
      <input type="submit" id="submit" ng-click="submit()" value="Add Question" class="btn btn-success" />

    </div>
  </form>
</div>

