
    <button type="button" class="close quiz-close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <ul class="quiz-slider" >
      <li ng-repeat="item in quiz" class="container question" ng-init="b = '#' + item.bgcolor" style="background:{{b}};">
        <div class="image-block" >
          <img ng-src={{item.img}} alt="" class="quiz-image" />
        </div>
        <div class="question-block">
          <ul class="questions-bar">
            <li ng-repeat="itemnum in quiz" class=$scope.activeItem"></li>
          </ul>
          <h3 class="question-header">{{item.name}}</h3>
          <div class="answers-block">

            <!-- </div> -->
            <div class="answers-list medium-indents">
                <div ng-if="item.minanswers == 1" class="answer-radio-wrapper" ng-repeat="answer in item.answers">
                  <input type="radio" name="{{item.name}}" id="{{item.name+$index}}"  value="" />
                  <label for="{{item.name+$index}}">
                          <span class="answer-header">
                            {{answer}}
                          </span>

                  </label>
                </div>
                <div ng-if="item.minanswers == 0" class="answer-checkbox-wrapper" ng-repeat="answer in item.answers">
                  <input type="checkbox" name="{{item.name+$index}}" id="{{item.name+$index}}"  value="" />
                  <label for="{{item.name+$index}}">
                            <span class="answer-header">
                              {{answer}}
                            </span>

                  </label>
                </div>
              </div>
          </div>
          <div class="quiz-control-buttons">
            <a href="" class="quiz-button back" ng-if="$index>0" ng-click="activeItem = back()">Back</a>
            <a href="" class="quiz-button next" ng-if="$index==quiz.length-1" ng-click="activeItem = next()">See Results</a>
            <a href="" class="quiz-button next" ng-if="$index<quiz.length-1" ng-click="next()">Next step</a>
          </div>
        </div>

      </li>
    </ul>

